[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
statsmodels = "*"
chart-studio = "*"
mplfinance = "*"
dash = "*"
beautifulsoup4 = "*"
cufflinks = "*"
nbformat = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.16"
